@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap");

$white: #fff;
$black: #000;

$primaryColor: #023a15;
$bgColor: #fdf5f3;
$textColor: #567c49;
$anchorTextColor: #319e48;

$fontMontserrat: "Montserrat", sans-serif;
$fontCormorant: "Cormorant", serif;
