.contact-us-section {
  position: relative;
  padding: 5rem 15px 4rem;

  .form-section {
    position: relative;
    background-color: $primaryColor;
    padding: 5rem 3rem 4rem;
    input {
      background-color: transparent;
      border: 2px solid $white;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-family: $fontMontserrat;
      font-weight: 500;

      &::placeholder {
        color: $white;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    textarea {
      margin-top: 1rem;
      background-color: transparent;
      border: 2px solid $white;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-family: $fontMontserrat;
      font-weight: 500;

      &::placeholder {
        color: $white;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    .btn-primary {
      background-color: $white;
      color: $primaryColor;
      font-family: $fontMontserrat;
      font-weight: 500;
      border-radius: 2rem;
      font-size: 1.1rem;
      padding: 0.7rem 2.5rem;
      margin-top: 1.5rem;
      border: 0;

      svg {
        font-size: 2rem;
      }
    }

    img {
      width: 200px;
      position: absolute;

      &.top-left {
        left: -3rem;
        top: -4rem;
        transform: rotate(352deg);
      }
      &.right-bottom {
        right: -3rem;
        bottom: -3rem;
        transform: rotate(160deg);
      }
    }
  }

  h4 {
    font-size: 4rem;
    font-family: $fontCormorant;
    color: $primaryColor;
    margin-bottom: 1rem;
  }
  p {
    font-family: $fontMontserrat;
    font-weight: 500;
    font-size: 1rem;
    color: $textColor;
  }
}
.contact-slider {
  h5 {
    font-size: 1.8rem;
    font-family: $fontCormorant;
    color: $primaryColor;
    margin-bottom: 1rem;
  }
  p {
    font-family: $fontMontserrat;
    font-weight: 500;
    font-size: 1rem;
    color: $textColor;
  }
}
.map-section {
  padding: 0;
  iframe {
    width: 100%;
  }

  h4 {
    font-size: 2.5rem;
    font-family: $fontCormorant;
    color: $primaryColor;
    margin-bottom: 1rem;
  }
  p {
    font-family: $fontMontserrat;
    font-weight: 500;
    font-size: 1rem;
    color: $textColor;
  }

  .ant-select {
    .ant-select-selector {
      background-color: $primaryColor;
      border-radius: 0;
      margin-left: 1rem;
      color: $white;
      font-family: $fontMontserrat;
    }
    .ant-select-arrow {
      color: $white;
      inset-inline-end: 0;
    }
  }
}
