@import "../node_modules/bootstrap/scss/bootstrap.scss";

// @import "../node_modules/slick-carousel/slick/slick.scss";
// @import "../node_modules/slick-carousel/slick/slick-theme.scss";

@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/slick-carousel/slick/slick-theme.scss";

@import "./assets/scss/variable";
@import "./assets/scss/component/header";
@import "./assets/scss/component/footer";
@import "./assets/scss/component/breadcrumb";
@import "./assets/scss/pages/home";
@import "./assets/scss/pages/about";
@import "./assets/scss/pages/services";
@import "./assets/scss/pages/contact";

body {
  background-color: $bgColor;
}

.slider-testimonial {
  .slick-arrow {
    top: auto;
    bottom: -20px;

    &.slick-prev {
      left: auto;
      right: 70px;
    }

    &.slick-next {
      right: 20px;
    }

    &:before {
      font-size: 40px;
    }
  }
}

.side-slider-image {
  .slick-arrow {
    top: auto;
    bottom: -20px;
    z-index: 1;

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      left: 50px;
      right: auto;
    }

    &:before {
      font-size: 40px;
    }
  }
}

.contact-slider {
  .slick-arrow {
    top: auto;
    bottom: -2rem;
    z-index: 1;

    &.slick-prev {
      left: 45%;
    }

    &.slick-next {
      right: 45%;
    }

    &:before {
      color: $primaryColor;
      font-size: 40px;
    }
  }
}

@import "./assets/scss/responsive";
